<div class="bg-white p-10 mb-10">
  <%= f.link_to_remove raw('<i class="fa fa-close"></i>'),class: 'btn btn-default bg-red btn-sm' %>
  <div class="row">
    <%= ContentImage.human_attribute_name(:image) %>
    <div class="col-sm-5">
      <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
    </div>
    <div class="col-sm-4">
      <div class="image-preview">
        <% if f.object.image? %>
          <%= image_tag f.object.image.content.url %>
        <% else %>
          no-image
        <% end %>
      </div>
    </div>
  </div>
</div>
