default: &default
  adapter: postgresql
  pool: 5
  timeout: 5000
  host: localhost
  user: postgres
  password: ×××××××
  port: 5433

development:
  <<: *default
  database: tourism_development

test:
  <<: *default
  database: tourism_test

production:
  <<: *default
  database: tourism_production
