<% if page.current? %>
  <%= content_tag :a, raw("<span>#{page}</span>"), class: 'current', remote: remote, rel: (page.next? ? 'next' : (page.prev? ? 'prev' : nil)) %>
<% else %>
  <%= link_to page, url, remote: remote, rel: (page.next? ? 'next' : (page.prev? ? 'prev' : nil)) %>
<% end %>
