<!-- Title Block -->
<div class="sayit_title_container row sayit_js_height sayit_js_bg_image sayit_block_with_fimage" data-src="/images/front/clipart/back-7.jpg" data-height="800">
  <div class="sayit_overlay sayit_fimage_overlay_type_light"></div>

  <div class="sayit_title_wrapper col push-middle">
    <h1 class="sayit_post_title">Blog Classic</h1>
  </div>
</div>

<!-- Content -->
<div class="sayit_container content_box_narrow sayit_right_sidebar">
  <div class="row sayit_right_sidebar">
    <!-- Content Area -->
    <div class="col col-8 sayit_content content_box_bg_color_off" style="margin-top: 60px;">
      <div class="sayit_tiny">
        <!-- Widget Blog Listing -->
        <div class="sayit_blog_listing_widget">
          <div class="sayit_widget_container">
            <div class="sayit_blog_listing_cont sayit_blog_listing_cont_1534 sayit_columns_3 sayit_blog_type_grid">
              <!-- Item 1 -->
              <div class="sayit_blog_item">
                <div class="sayit_blog_item_wrapper">
                  <div class="sayit_blog_item_fimage">
                    <a href="post_standard.html">
                      <img src="/images/front/clipart/places/germany/germany-1.jpg" alt="" />
                    </a>
                  </div>

                  <div class="sayit_meta">
                    <div class="sayit_post_categories">
                      <a href="#">Germany</a>
                    </div>

                    <span>/</span>

                    <div class="sayit_post_date">July 10, 2018</div>
                  </div>

                  <h4 class="sayit_post_title">
                    <a href="post_standard.html">Curabitur Suscipit Lectus</a>
                  </h4>

                  <div class="sayit_post_excerpt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget sodales enim, et viverra est. Aenean ac enim nulla. Nunc auctor...
                  </div>
                </div>
              </div>

              <!-- Item 2 -->
              <div class="sayit_blog_item">
                <div class="sayit_blog_item_wrapper">
                  <div class="sayit_blog_item_fimage">
                    <a href="post_image.html">
                      <img src="/images/front/clipart/places/germany/germany-2.jpg" alt="" />
                    </a>
                  </div>

                  <div class="sayit_meta">
                    <div class="sayit_post_categories">
                      <a href="#">Germany</a>
                    </div>

                    <span>/</span>

                    <div class="sayit_post_date">July 10, 2018</div>
                  </div>

                  <h4 class="sayit_post_title">
                    <a href="post_image.html">Aliquam Et Interdum Erat</a>
                  </h4>

                  <div class="sayit_post_excerpt">
                    Integer sollicitudin facilisis neque et convallis. Phasellus eu porttitor ante, sed fringilla libero. Sed tincidunt est massa, porta...
                  </div>
                </div>
              </div>

              <!-- Item 3 -->
              <div class="sayit_blog_item">
                <div class="sayit_blog_item_wrapper">
                  <div class="sayit_blog_item_fimage">
                    <a href="post_video.html">
                      <img src="/images/front/clipart/places/germany/germany-3.jpg" alt="" />
                    </a>
                  </div>

                  <div class="sayit_meta">
                    <div class="sayit_post_categories">
                      <a href="#">Germany</a>
                    </div>

                    <span>/</span>

                    <div class="sayit_post_date">July 10, 2018</div>
                  </div>

                  <h4 class="sayit_post_title">
                    <a href="post_video.html">Nullam Eu Magna Lacus</a>
                  </h4>

                  <div class="sayit_post_excerpt">
                    Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque efficitur lectus vitae iaculis tempor...
                  </div>
                </div>
              </div>

              <!-- Item 4 -->
              <div class="sayit_blog_item">
                <div class="sayit_blog_item_wrapper">
                  <div class="sayit_blog_item_fimage">
                    <a href="post_audio.html">
                      <img src="/images/front/clipart/places/germany/germany-4.jpg" alt="" />
                    </a>
                  </div>

                  <div class="sayit_meta">
                    <div class="sayit_post_categories">
                      <a href="#">Germany</a>
                    </div>

                    <span>/</span>

                    <div class="sayit_post_date">July 10, 2018</div>
                  </div>

                  <h4 class="sayit_post_title">
                    <a href="post_audio.html">Morbi Commodo Cursus Suscipit</a>
                  </h4>

                  <div class="sayit_post_excerpt">
                    Aliquam malesuada lacinia ullamcorper. Suspendisse eget metus lorem. Aliquam sit amet pulvinar libero, et ultrices lectus. Fusce a...
                  </div>
                </div>
              </div>

              <!-- Item 5 -->
              <div class="sayit_blog_item">
                <div class="sayit_blog_item_wrapper">
                  <div class="sayit_blog_item_fimage">
                    <a href="post_quote.html">
                      <img src="/images/front/clipart/places/germany/germany-5.jpg" alt="" />
                    </a>
                  </div>

                  <div class="sayit_meta">
                    <div class="sayit_post_categories">
                      <a href="#">Germany</a>
                    </div>

                    <span>/</span>

                    <div class="sayit_post_date">July 10, 2018</div>
                  </div>

                  <h4 class="sayit_post_title">
                    <a href="post_quote.html">Mattis Tellus Accumsan Vitae</a>
                  </h4>

                  <div class="sayit_post_excerpt">
                    Proin posuere tincidunt diam vitae feugiat. Sed tincidunt, metus ut facilisis accumsan, ipsum lorem venenatis nunc, sagittis malesuada...
                  </div>
                </div>
              </div>

              <!-- Item 6 -->
              <div class="sayit_blog_item">
                <div class="sayit_blog_item_wrapper">
                  <div class="sayit_blog_item_fimage">
                    <a href="post_link.html">
                      <img src="/images/front/clipart/places/germany/germany-6.jpg" alt="" />
                    </a>
                  </div>

                  <div class="sayit_meta">
                    <div class="sayit_post_categories">
                      <a href="#">Germany</a>
                    </div>

                    <span>/</span>

                    <div class="sayit_post_date">July 10, 2018</div>
                  </div>

                  <h4 class="sayit_post_title">
                    <a href="post_link.html">Mauris Feugiat Arcu Dolor Praesent</a>
                  </h4>

                  <div class="sayit_post_excerpt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget sodales enim, et viverra est. Aenean ac enim nulla. Nunc auctor...
                  </div>
                </div>
              </div>

              <!-- Item 7 -->
              <div class="sayit_blog_item">
                <div class="sayit_blog_item_wrapper">
                  <div class="sayit_blog_item_fimage">
                    <a href="post_standard.html">
                      <img src="/images/front/clipart/places/germany/germany-7.jpg" alt="" />
                    </a>
                  </div>

                  <div class="sayit_meta">
                    <div class="sayit_post_categories">
                      <a href="#">Germany</a>
                    </div>

                    <span>/</span>

                    <div class="sayit_post_date">July 10, 2018</div>
                  </div>

                  <h4 class="sayit_post_title">
                    <a href="post_standard.html">Purus Sagittis Accumsan</a>
                  </h4>

                  <div class="sayit_post_excerpt">
                    Integer sollicitudin facilisis neque et convallis. Phasellus eu porttitor ante, sed fringilla libero. Sed tincidunt est massa, porta...
                  </div>
                </div>
              </div>

              <!-- Item 8 -->
              <div class="sayit_blog_item">
                <div class="sayit_blog_item_wrapper">
                  <div class="sayit_blog_item_fimage">
                    <a href="post_image.html">
                      <img src="/images/front/clipart/places/germany/germany-8.jpg" alt="" />
                    </a>
                  </div>

                  <div class="sayit_meta">
                    <div class="sayit_post_categories">
                      <a href="#">Germany</a>
                    </div>

                    <span>/</span>

                    <div class="sayit_post_date">July 10, 2018</div>
                  </div>

                  <h4 class="sayit_post_title">
                    <a href="post_image.html">Curabitur Aliquet Dolor</a>
                  </h4>

                  <div class="sayit_post_excerpt">
                    Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque efficitur lectus vitae iaculis tempor...
                  </div>
                </div>
              </div>

              <!-- Item 9 -->
              <div class="sayit_blog_item">
                <div class="sayit_blog_item_wrapper">
                  <div class="sayit_blog_item_fimage">
                    <a href="post_video.html">
                      <img src="/images/front/clipart/places/germany/germany-9.jpg" alt="" />
                    </a>
                  </div>

                  <div class="sayit_meta">
                    <div class="sayit_post_categories">
                      <a href="#">Germany</a>
                    </div>

                    <span>/</span>

                    <div class="sayit_post_date">July 10, 2018</div>
                  </div>

                  <h4 class="sayit_post_title">
                    <a href="post_video.html">Magna At Efficitur</a>
                  </h4>

                  <div class="sayit_post_excerpt">
                    Aliquam malesuada lacinia ullamcorper. Suspendisse eget metus lorem. Aliquam sit amet pulvinar libero, et ultrices lectus. Fusce a...
                  </div>
                </div>
              </div>
            </div>
            <div class="clear"></div>

            <div class="sayit_blog_listing_pagination">
              <nav class="navigation pagination">
                <div class="nav-links">
                  <span aria-current="page" class="page-numbers current">1</span>
                  <a class="page-numbers" href="#">2</a>
                  <span class="page-numbers dots">...</span>
                  <a class="page-numbers" href="#">4</a>
                  <a class="next page-numbers" href="#">Next <i class="fa fa-arrow-right"></i></a>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Sidebar Area -->
    <div class="sayit_sidebar col col-4" style="margin-top: 60px;">
      <!-- Search Widget -->
      <div class="widget widget_search">
        <form name="search_form" class="sayit_search_form" id="search_form">
          <span class="sayit_icon_search"><i class="fa fa-search"></i></span>
          <input class="sayit_field_search" name="s" placeholder="Search" title="Search the site..." form="search_form">
          <div class="clear"></div>
        </form>
      </div>

      <!-- Categories Widget -->
      <div class="widget widget_categories">
        <h6 class="widgettitle"><span>Categories</span></h6>

        <ul>
          <li><a href="#">France</a></li>
          <li><a href="#">Germany</a></li>
          <li><a href="#">India</a></li>
          <li><a href="#">Italy</a></li>
          <li><a href="#">Turkey</a></li>
          <li><a href="#">United Kingdom</a></li>
          <li><a href="#">USA</a></li>
        </ul>
      </div>

      <!-- Featured Posts Widget -->
      <div class="widget widget_sayit_featured_posts">
        <h6 class="widgettitle"><span>Featured Posts</span></h6>

        <div class="sayit_recent_posts sayit_items_2">
          <div class="sayit_posts_item sayit_block_with_fi">
            <a class="sayit_fimage_cont" href="post_standard.html">
              <img src="/images/front/clipart/fimage-1.jpg" class="sayit_fimage" alt="" />
            </a>

            <h5>
              <a class="sayit_featured_post_widget_title" href="post_standard.html">Commodo Lacus</a>
            </h5>

            <div class="sayit_widget_meta">
              <div>July 17, 2018</div>
            </div>
          </div>

          <div class="sayit_posts_item sayit_block_with_fi">
            <a class="sayit_fimage_cont" href="post_image.html">
              <img src="/images/front/clipart/fimage-2.jpg" class="sayit_fimage" alt="" />
            </a>

            <h5>
              <a class="sayit_featured_post_widget_title" href="post_image.html">Metus Auctor Sollicitudin</a>
            </h5>

            <div class="sayit_widget_meta">
              <div>July 17, 2018</div>
            </div>
          </div>
        </div>
      </div>

      <!-- Tags Widget -->
      <div class="widget widget_tag_cloud">
        <h6 class="widgettitle">
          <span>Tags</span>
        </h6>

        <div class="tagcloud">
          <a href="#">Blog</a>
          <a href="#">City</a>
          <a href="#">England</a>
          <a href="#">France</a>
          <a href="#">Germany</a>
          <a href="#">India</a>
          <a href="#">Italy</a>
          <a href="#">Landscape</a>
          <a href="#">USA</a>
          <a href="#">Photography</a>
          <a href="#">Travel</a>
          <a href="#">Turkey</a>
        </div>
      </div>

      <!-- Banner -->
      <div class="widget_text widget widget_custom_html">
        <div class="textwidget">
          <img src="/images/front/clipart/banner.jpg" class="sayit_banner" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>